<div class="score">
    <h1 class="score__title">Jogo da memória</h1>
    <p class="score__title" v-if="!stillCardsSelected && endOfGame">Parabéns</p>
    <p v-if="!stillCardsSelected && endOfGame" class="score__text">Sua pontuação</p>

    <p class="score__text">Nome: {{ name }}</p>
    <p class="score__text">Pontos: {{ moves }}</p>

    <button v-if="!stillCardsSelected && endOfGame" type="button" class="score__button" @click="emitResetGame">
        Reiniciar
    </button>

    <div id="cards" v-if="!endOfGame">
        <div v-for="(card, index) in cardsGame" :key="index" @click="emitSelectedCard(card)">
            <Card :card="card" />
        </div>
    </div>
</div>