<div class="home container">
    {{lazyCard }}
    <transition name="fade" appear mode="out-in">       
        <FormGame 
            :name.sync="name" 
            @emitStartGame="startGame" 
            v-if="!start" 
        />     

        <Score v-else 
            :stillCardsSelected="stillCardsSelected"
            :endOfGame="endOfGame"
            :name="name" 
            :moves="moves" 
            :cardsGame="cardsGame"
            @emitSelectedCard="selectedCard" @emitResetGame="resetGame"  
        />
    </transition>
</div>